<div class="center">
  <div class="flex-column">
    <form [formGroup]="calcForm" (ngSubmit)="onSubmit(calcForm)" class="compound-interest-form">
      <input type="number" placeholder="Amount" formControlName="amount">
      <input type="number" placeholder="Interest" formControlName="interest">
      <input type="number" placeholder="Years" formControlName="years">
      <input type="number" placeholder="Annual Increase" formControlName="annualIncrease">
      <select formControlName="viewMode">
        <option value="daily">Daily</option>
        <option value="yearly">Yearly</option>
      </select>
      <button type="submit">Calculate</button>
    </form>
    
    <div class="space-divider"></div>

    <app-compount-interest-table [viewMode]="viewMode" [interestTable]="interestTable"></app-compount-interest-table>
  </div>
</div>