/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Montserrat:wght@700&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789$.,");


body {
  --accent: #ac3931;
  --neutral: #ffe8d1;

  background-color: var(--neutral);
  font-size: 18px;
  font-weight: 500;
  font-family: "Hind Madurai", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  border-bottom: 1px solid #aaa;
  padding: 10px;
}

tr {
  vertical-align: top;

  td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

@media only screen and (min-width: 600px){
  .flex-column {
    width: 600px;
  }
}
